::ng-deep {
  .mat-menu-content {
    min-width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    .mat-toolbar {
      height: 160px !important;
      .selise-logo {
        display: inline !important;
      }
      .menu {
        margin-left: 0 !important;
      }
    }
  }
}
#header {
  .mat-toolbar {
    background-color: #fefefe;
    height: 80px;
    width: 100%;
    padding: 5px 30px;
    box-shadow: 0px 0px 1px 0px;
    flex-wrap: wrap;
    font-size: medium;
    font-weight: 200;
    opacity: 0.7;
    padding-left: 5%;
    justify-content: space-between;
    .selise-logo {
      background-image: url(https://az-cdn.selise.biz/selisecdn/cdn/arc2/arc2-logo.svg);
      height: 60px;
      width: 136px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .menu {
      margin-left: -10%;
      .menu-item {
        .dashboard:hover,
        .product:hover,
        .my-cart:hover {
          color: #4169e1;
        }
        .dashboard:active,
        .product:active,
        .my-cart:active {
          color: #4169e1;
        }
      }
    }
    .cart-icon {
      height: 35px;
      width: 35px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .right-side-elements {
      margin-top: 10px;
      margin-right: 10px;
      .cartItemMenu {
        height: 500px !important;
        width: 500px !important;
      }
    }
  }
}
