<div id="header">
  <mat-toolbar fxLayout="row">
    <div class="selise-logo"></div>

    <div class="menu">
      <div class="menu-item" fxLayoutGap="30px">
        <a (click)="GoToRoute('../dashboard')" class="dashboard">Dashboard</a>
        <a (click)="GoToRoute('../product')" class="product">Product</a>
        <a (click)="GoToRoute('../cart')" class="my-cart">My Cart</a>
      </div>
    </div>

    <div>
      <app-cart-menu class="cart-item-menu"></app-cart-menu>
    </div>
  </mat-toolbar>
</div>
