@media only screen and (max-width: 400px) {
  #product-detail {
    .product-image {
      height: 300px !important;
    }
    .detail {
      margin-left: 5% !important;
      .add-to-cart {
        padding: 0 35% !important;
      }
    }
  }
}
#product-detail {
  margin: 5%;
  .product {
  }
  .product-image {
    height: 450px;
  }
  .detail {
    margin-left: 12%;
    .add-to-cart {
      padding: 0 50%;
      background-color: #149aec;
      color: white;
    }
  }
}
