<div id="product-detail">
  <div fxLayout="row wrap">
    <div class="product">
      <img src="{{ product.image }}" class="product-image" />
    </div>
    <div fxLayout="column wrap" class="detail" fxLayoutAlign="center center">
      <h2 fxLayoutAlign="center center" class="product-title">
        {{ product.title }}
      </h2>
      <p fxLayoutAlign="center center" class="product-description">
        Price: {{ product.price }} BDT
      </p>
      <p fxLayoutAlign="center center">
        Available Quantity: {{ product.availableQuantity }}
      </p>
      <div>
        <div
          *ngIf="product.totalQuantity == product.availableQuantity"
          fxLayoutAlign="center center"
        >
          <button (click)="addToCart()" mat-raised-button class="add-to-cart">
            ADD TO CART
          </button>
        </div>

        <mat-card-content
          *ngIf="product.totalQuantity != product.availableQuantity"
          fxLayoutAlign="center center"
        >
          <button
            (click)="removeFromCart()"
            mat-raised-button
            class="minus-button"
          >
            -
          </button>
          <button mat-raised-button class="items-in-cart">
            {{ product.totalQuantity - product.availableQuantity }}
          </button>
          <button (click)="addToCart()" mat-raised-button class="plus-button">
            +
          </button>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
