<div id="dashboard">
  <div fxLayout="row wrap" fxLayoutGap="30px">
    <div *ngFor="let product of products; index as i" class="card">
      <mat-card>
        <mat-card-title fxLayoutAlign="center center" class="product-title">{{
          product.title
        }}</mat-card-title>
        <div class="ImageAndClickButton">
          <div class="hide">
            <button
              (click)="goToRoute(product)"
              class="product-detail"
              mat-raised-button
            >
              Show detail
            </button>
          </div>
          <img
            fxLayoutAlign="center center"
            mat-card-image
            src="{{ product.image }}"
            class="product-image"
          />
        </div>
        <mat-card-content
          fxLayoutAlign="center center"
          class="product-description"
        >
          Price: {{ product.price }} BDT</mat-card-content
        >

        <mat-card-content fxLayoutAlign="center center"
          >Available Quantity: {{ product.availableQuantity }}</mat-card-content
        >
        <div>
          <mat-card-content
            *ngIf="product.totalQuantity == product.availableQuantity"
            fxLayoutAlign="center center"
          >
            <button
              (click)="addToCart(i)"
              mat-raised-button
              class="add-to-cart"
            >
              ADD TO CART
            </button>
          </mat-card-content>

          <mat-card-content
            *ngIf="product.totalQuantity != product.availableQuantity"
            fxLayoutAlign="center center"
          >
            <button
              (click)="removeFromCart(i)"
              mat-raised-button
              class="minus-button"
            >
              -
            </button>
            <button mat-raised-button class="items-in-cart">
              {{ product.totalQuantity - product.availableQuantity }}
            </button>
            <button
              (click)="addToCart(i)"
              mat-raised-button
              class="plus-button"
            >
              +
            </button>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
