<div id="calculate-price">
  <p class="header">Calculate Your Price</p>
  <div class="main-content" fxLayout="row" fxLayoutGap="24px">
    <div class="container-1">
      <div class="package-type">
        <p>Package Type</p>
        <div class="package">
          <div class="yearly-package">
            <p>
              <span class="pay-yearly">Pay yearly </span>
              <span class="save-more">(SAVE MORE)</span>
            </p>
          </div>
          <span class="pay-monthly">Pay monthly</span>
        </div>
      </div>
      <div class="line-1"></div>
      <div class="choose-plan">
            <p>Choose a Plan</p>
            <div class="plans" fxLayout="row" fxFlexFill>
                <div class="card">
                    <p class="plan">Basic</p>
                    <p class="contacts-quantity">50,000 Contacts/yr</p>
                </div>
                <div class="card">
                   <p class="plan">Standard</p>
                    <p class="contacts-quantity">100,000 Contacts/yr</p>
                </div>
                <div class="card">
                    <p class="plan">Premium</p>
                    <p class="contacts-quantity">1,000,000 Contacts/yr</p>
                </div>
            </div>
      </div>
      <hr class="line-2">
      <div class="add-ons">
      <p class="add-ons-heading">Add-ons</p>
      <h1 class="add-ons-plus">+</h1>
      <p class="add-ons-detail">Customize and enhance your plan with additional features.</p>
      </div>
    </div>

    <div class="container-2">
        <p class="heading">CHF 96/year</p>
        <p class="sub-text">billed yearly</p>
        <hr class="line-3">
        <div class="current-plan-detail">
            <h6 class="heading">Basic Plan</h6>
            <p class="detail">CHF 96/year | Included contacts: 50,000</p>
        </div>
        <hr class="line-4">
        <button class="continue-button">Continue</button>
    </div>
  </div>
</div>
